body{
    background-image: url(../images/backcover.svg);
    background-position:  350px -300px  ;
    background-repeat: no-repeat;
    background-size:cover;

}
.main-div>nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-items{
    display: flex;
}
.nav-item{
    padding: 0px 25px;
}
.signin-btn{
    padding: 3px 15px;
    border-radius: 15px;
    border: none;
    background: rgb(77,85,247);
    background: linear-gradient(90deg, rgba(77,85,247,1) 50%, #FFB9AA 100%);
    color: #ffffff;
}
*{
    font-family: 'Roboto';
    color:#03203ce2;
}
.left-section{
    position: relative;
    left: 90px;
    top: 100px;
}
.left-section>h1{
    font-size: 60px;
}
.left-section>h4{
    font-weight: 100;
}
.learn-more-btn{
    padding: 10px 25px;
    border-radius: 25px;
    margin-top: 50px;
    border: none;
    background: rgb(77,85,247);
    background: linear-gradient(90deg, rgba(77,85,247,1) 50%, #FFB9AA 100%);
    color: #ffffff;
    font-size: x-large;
}
.imgs-div{
    position: relative;
    bottom: 350px;
    left: 250px;
}